{% extends 'base.html' %}

{% block body %}

<!-- <script lang="text/javascript">	
	var pass1 = "imdc";
	var password = prompt('Please enter the password:', '');
	if (password!=pass1) {
		window.location = "https://www.google.com/";
	};	
</script> -->

<div class="container">
	<div class="title">
		Understanding the procedure of Closed Captioning quality assessment by viewers who are Deaf or Hard of Hearing
	</div>		
	<div class="page">			
		<div class="stub">
			<h2>Study description</h2>
			<p>				
				In this study, we are investigating the quality assessment of Closed Captioning (CC) for four different factors from a viewer point of view. 
				The four different factors include: 
				<ol>
					<li>Delay between caption appearance and audio (or visual);</li>
					<li>Speed of caption presentation;</li>
					<li>Number of missing words in a caption; and</li>
					<li>Paraphrasing factor: i.e., where the captions are not verbatim.</li>
				</ol>
				<hr>
				This study has <b>three parts</b>:
				<p><ol>
					<li>
						Pre-study demographic questionnaire section
					</li>
					<li>Caption quality rating section:
						<p>
							You will be presented with a series of video clips from four genres (weather forecasts, sports, sports-talk shows, and breakfast talk shows).
							The videos will have A.I. predicting human satisfaction ratings for each of the four quality factors mentioned above.
							Then, you will watch short 20 ~ 30 sec video clips and decide whether you agree/disagree with the predicted ratings.
						</p>							
						<ul>
							<li>If you agree with the predicted ratings, 
								<ul><li>you can proceed to request the next video.</li></ul>
							</li>
							<li>If you disagree with the predicted ratings, 
								<ul><li>please report your satisfaction ratings for each of the caption quality factor.</li></ul>
							</li>
						</ul>
						<p>
							After each submission, the A.I. will try learning from your input
							(even if you agree with the prediction, it will still learn from the consensus).
							Please wait (~ 20s) while the A.I. is learning from your input.
						</p>
					</li>
					<li>
						Semi-structured interview (via Zoom/Google Meet):<br>
						You will be asked about four questions relating to the general experience of TV live Closed Captioning service
						as well as your experience with the quality rating session in this study.
					</li>
				</ol></p>
			</p>
			<p>
				At mutually agreed upon meeting time, there will be a virtual meeting room where you will start the study.
				The investigator should provide you a URL where you can link to begin the study.
				The website will present the pre-study demographic questionnaire followed by the video rating session.		
				Because of the nature in this study, the entire session can be monitored by screenshare, and we may request to record your screen.
				You may ask any questions to the investigator throughout the process via either text chat or a video conversation.
				The semi-structured interview will be conducted after you finished videos using either text chat or a video conversation.
				If you require an ASL interpreter, please notify the investigator 2-weeks in advance than the scheduled date. 
			</p>
		</div>

		<br>
		<div class="consent-button-div">
			<form action="." method="POST">{% csrf_token %}
				<input class="consent-button btn btn-lg" type="Submit" value="Start" onClick="this.form.submit(); this.disabled=true; this.value='Sending…';"/>
			</form>
		</div>
	</div>
</div>

{% load static %}
<link rel="stylesheet" href="{% static 'home/consent_style.css' %}?{% now 'U' %}" type="text/css">

{% endblock %}
