{% extends 'base.html' %}

{% block body %}

<script lang="text/javascript">	
	var pass1 = "imdc";
	var password = prompt('Please enter the password:', '');
	if (password!=pass1) {
		window.location = "https://www.google.com/";
	};	
</script>

<div class="container">
	<div class="title">
		Understanding the procedure of Closed Captioning quality assessment by viewers who are Deaf or Hard of Hearing
	</div>		
	<div class="page">			
		<div class="stub">
			<h2>Study description</h2>
			<p>				
				In this study, we are investigating the quality assessment of Closed Captioning (CC) for four different factors from a viewer point of view. 
				The four different factors include: 
				<ol>
					<li>Delay between caption appearance and audio (or visual);</li>
					<li>Speed of caption presentation;</li>
					<li>Number of missing words in a caption; and</li>
					<li>Paraphrasing factor: i.e., where the captions are not verbatim.</li>
				</ol>
				<hr>
				This study has <b>three parts</b>:
				<p><ol>
					<li>
						Pre-study demographic questionnaire section
					</li>
					<li>Caption quality rating section:
						<p>
							You will be presented with a series of video clips from four genres (weather forecasts, sports, sports-talk shows, and breakfast talk shows).
							The videos will have A.I. predicting human satisfaction ratings for each of the four quality factors mentioned above.
							Then, you will watch short 20 ~ 30 sec video clips and decide whether you agree/disagree with the predicted ratings.
						</p>							
						<ul>
							<li>If you agree with the predicted ratings, 
								<ul><li>you can proceed to request the next video.</li></ul>
							</li>
							<li>If you disagree with the predicted ratings, 
								<ul><li>please report your satisfaction ratings for each of the caption quality factor.</li></ul>
							</li>
						</ul>
						<p>
							After each submission, the A.I. will try learning from your input
							(even if you agree with the prediction, it will still learn from the consensus).
							Please wait (~ 20s) while the A.I. is learning from your input.
						</p>
					</li>
					<li>
						Semi-structured interview (via Zoom/Google Meet):<br>
						You will be asked about four questions relating to the general experience of TV live Closed Captioning service
						as well as your experience with the quality rating session in this study.
					</li>
				</ol></p>
			</p>
			<p>
				At mutually agreed upon meeting time, there will be a virtual meeting room where you will start the study.
				The investigator should provide you a URL where you can link to begin the study.
				The website will present the pre-study demographic questionnaire followed by the video rating session.		
				Because of the nature in this study, the entire session can be monitored by screenshare, and we may request to record your screen.
				You may ask any questions to the investigator throughout the process via either text chat or a video conversation.
				The semi-structured interview will be conducted after you finished videos using either text chat or a video conversation.
				If you require an ASL interpreter, please notify the investigator 2-weeks in advance than the scheduled date. 
			</p>
		</div>

		<div class="stub">
			<h2>How long will the study take to complete?</h2>
			<p>Maximum 90 min.</p>
		</div>
		<div class="stub">
			<h3>Compensation</h3>
			<p>Cash honorarium ($30 CAD)</p>
		</div>
		
		<a onclick="(function() {var x = document.getElementById('more_info')
				if (x.style.display === 'none') {x.style.display = 'block'} 
				else {x.style.display = 'none'}})();"> More consent information </a>
		<div id="more_info" style="display:none;">
			<div class="stub">
				<h2>Ethics approval</h2>			
				<ul>
					<li>Ryerson University - Protocol #: REB 2020-098</li>
					<li>The University of Toronto - Protocol #: 36463</li>
				</ul>			
			</div>
			
			<div class="stub">
				<h2>Risks and Discomforts</h2>
				<p>
					The risks associated with the study are minimal. You may experience some fatigue while watching video clips. You may take breaks during the session if you become fatigued. You may also discontinue the study at any time without penalty. You may also experience some discomfort in answering some of the questions in the questionnaire. You are not required to answer any question that makes you uncomfortable. The data collected will be used to analyze the subjective quality assessment in CC and to develop a method of evaluation reflecting this assessment. Only members of the research team will have access to all the data, which will be stored on password-protected project computer at the IMDC.				
					<a onclick="getElementById('privacy_p').style.display='block'" style="right:10%"> Read the Privacy Statement </a>
					<div id="privacy_p" style="display:none;">
						<h2>Data Dissemination</h2>
						<ul>
							<li>The collected data will only be disseminated in the form of aggregated and summarized result (no raw data will be available to public). </li>
							<li>Once data are collected and subjected to analysis, it will no longer be available to withdraw your data. </li>
							<li>If you wish to have your data withdrawn from this study, please make a request to do so before leaving the study. </li>
							<li>Once you leave the study, your data could be included in the final analysis.</li>
						</ul>
						<h2>Confidentiality and Data Storage</h2>
						<ul>
							<li>All data will be confidential and will not be published except as summary data. </li>
							<li>All data will be used exclusively for research and educational purposes. </li>
							<li>Anonymous data not associated with yourself in any way will be made public through the release of the aggregated findings of this study.</li>
							<li>Data will be kept on a password-protected server at the Inclusive Design and Media Centre (IMDC), a locked at Ryerson University. </li>
							<li>Only the principal investigator, Somang Nam, and his supervisors, Prof. Mark Chignell and Prof. Deborah Fels, will have access to this data.</li>
							<li>The data will be stored for five years and then destroyed. </li>
							<li>In the case of transportation, the data will be shared via Ryerson Google Shared Drive, which is secure and encrypted.</li>
							<li>If you provide your First and Last name or email address, your survey responses may no longer be anonymous to the researcher. However, no names or identifying information would be included in any publications or presentations based on these data, and your responses to this survey will remain confidential.</li>
						</ul>				
					</div>
				</p>
			</div>
	
			<div class="stub">
				<h2>Expected Benefits</h2>
				<p>
					Though participants will not directly benefit from their participation in this study, 
					the data will be used to develop a new method of measuring the quality of CC 
					and potentially improve the quality of CC. 
					Final copies of findings of the study can be requested from Somang Nam 
					somang[at]mie.utoronto.ca once such findings are complete. 
					Participants wishing to receive a copy of this report directly can leave their
					email address on this consent form.
				</p>
			</div>
	
			<div class="stub">
				<h2>Voluntary Nature of Participation</h2>
				<p>
					Participation in this study is voluntary. 			
					Your choice of whether or not to participate will not influence your future relations with Ryerson University/the University of Toronto. 
					If you decide to participate, you are free to withdraw your consent and to stop your participation at any time without penalty or loss of benefits to which you are allowed.
					At any point in the study, you may refuse to answer any question or stop participation altogether. 
				</p>
			</div>
	
			<div class="stub">		
				<h2>Contact</h2>
				<p>
					We sincerely appreciate your cooperation. If you have questions at any time about the study or the procedures,
					you can contact Somang Nam via email (somang[at]mie.utoronto.ca).
					
					<a onclick="getElementById('contact_p').style.display='block'"> Other Contacts </a>
					<div id="contact_p" style="display:none; position: relative; left: 10px;">
						In addition to the principal researcher, his supervisor, 
						Professor Deborah Fels can be contacted via email (dfels[at]ryerson.ca) and
						The Human Research Ethics Unit may also be contacted should there be any concerns about the project:<br/>
						<ul>
							The Human Research Ethics Unit<br/>
							McMurrich Building, 2nd floor<br/>
							12 Queen’s Park Crescent West<br/>
							Toronto, ON M5S 1S8<br/>
							Tel: 416-946-3273<br/>
							Fax: 416-946-5763<br/>
						</ul>
					</div>
				</p>
			</div>
		</div>


		<h2 class="text-center">ELECTRONIC CONSENT</h2>
		<p>
			Please select your choice below. 
			You may print a copy of this consent form for your records. 
			Clicking on the “Agree” button indicates that
			<ul>
				<li>You voluntarily agree to participate</li>
				<li>You agree to screen-share your procedure</li>
				<li>You give permission to video record your study</li>
				<li>You are 18 years of age or older</li>
				<li>You are either Deaf or Hard of Hearing caption viewer</li>
				<li>You acknowledge that the research procedures described above have been explained and that any questions that you have asked to have been answered to your satisfaction.</li>
				<li>You have been informed of your right not to participate and the right to withdraw without compromise.</li>
				<li>As well, the potential harms and discomforts have been explained to you, and you also understand the benefits (if any) of participating in the research study.</li>
				<li>You know that you may ask now, or in the future, any questions you have about the study or the research procedures.</li>				
			</ul>
		</p>
		<br>
		<div class="consent-button-div">
			<form action="." method="POST">{% csrf_token %}
				<input class="consent-button btn btn-lg" type="Submit" value="Agree" onClick="this.form.submit(); this.disabled=true; this.value='Sending…';"/> |||
				<button class="consent-button-d btn btn-lg" type="button" onclick="window.location.href='/noconsent/'">Disagree</button>
			</form>
		</div>
	</div>
</div>

{% load static %}
<link rel="stylesheet" href="{% static 'home/consent_style.css' %}?{% now 'U' %}" type="text/css">

{% endblock %}
