@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.video-js .vjs-captions {
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
}
hr {
  border: 1px solid gray;
  margin: 0 !important;
}
#ratingsForm{
  padding-left: 1rem;
}

/* Cappy prediction display in a table format. */
.satisfaction-scale{
  border-color: rgba(0,0,0,.125);
  font-size: 1.1rem;
  padding: 0.5rem 2.25rem 0.5rem 2.25rem !important;
}
#inputHead {
  background-color: #fff;
  height: 1.5rem;
  margin-top: auto;

  border-radius: 0.25rem 0.25rem 0 0;
  border: 1px solid rgba(0,0,0,.125);
  border-bottom: 0;
}
.scale-text{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 1rem;
  padding: 0.25rem 0.25rem !important;
}

.likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0;
  display:block;
}
.likert:before {
  content: '';
  position:relative;
  top:9px;
  left:2%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:87%;
}
.likert-input {
  list-style:none;
  width:100%;
  margin:0;
  padding:0;
  display:block;
}
.likert-input:before {
  content: '';
  position:relative;
  top:28px;
  left:2%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:100%;
  z-index: -1;
}
.likert li {
  display:inline-block;
  width: 18%;
  text-align:center;
  vertical-align: top;
}
.likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:45%;
}
.likert li span {
  display:block;
  position:relative;
  top:0;
}
.likert li label {
  width:100%;
}

/* below is for starset */
.starset{
  font-size: 2rem;
  text-align: center;
}
.starset span{
  display:inline-block;
  margin-left: 10%;
}
#inputstar1, #inputstar2, #inputstar3, #inputstar4{
    font-size: 1.6rem
}
.starset1, .starset2, .starset3, .starset4{
    padding-top: 0.3rem;
    font-size:1.9rem;
}
.checked {
  color: rgb(2, 117, 216);
}
/* end of star styling */

.agreebtn{
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
