.form-demog div div {
    cursor: pointer;
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    list-style:none;
    padding: 1rem;
}

.form-demog div div:hover {
    cursor: pointer;
}

.form-demog div div:hover label {
    cursor: pointer;
}

.form-demog div div label {
    margin: auto;
}

input[type="radio"] {
    list-style:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}