<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Closed Captioning quality assessment user study</title>
	<meta name="description" content="Closed Captioning quality assessment user study.">
	<meta name="author" content="Inclusive Desiang and Media Centre">

	<!-- CSS -->
	<link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />

	<link rel="stylesheet" href="{% static 'caisapp/style.css' %}?{% now 'U' %}" type="text/css" />

	<!-- Javascript -->
	<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'caisapp/csrf.js' %}?{% now 'U' %}"></script>	
</head>

<body>
	<div class="loader-wrapper">
		<div class="loader is-loading"></div>
	</div>
	<div class="section">
		{% block body %}
		{% endblock %}
	</div>
</body>

</html>