{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="container">
  <div class="columns">
    <div class="column is-centered">
      <div class="box">
        <div class="loader-wrapper">
          <div class="loader is-loading"></div>
        </div>
        <div>Please do not reload this page until finish, it will reset your choices.</div>

        <form action="" method="POST">
          {% csrf_token %}
          <div>
            {% for field in form %}
              <label class="label-inline box has-text-centered is-size-4">{{ field.label }}</label>
              <div class="form-demog has-text-centered is-size-3">{{ field }}</div>
            {% endfor %}
          </div>
          <br>
          <div>
            <button type="submit" class="button is-large is-link" id="submitDemoq" data-target="placeholder">
              Next
            </button>
          </div>      
        </form>
      </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'caisapp/survey.js' %}?{% now 'U' %}"></script>
<link rel="stylesheet" href="{% static 'caisapp/survey.css' %}?{% now 'U' %}" type="text/css" />
{% endblock %}