@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body, html { 
    padding:0; margin:0;
    width:100%;
    min-height:100%;
}

body{
  transition: all 0.3s ease;
  font-family: 'Noto Sans', sans-serif;
  /*line-height: 1.6;*/
  background-color: #FFFAFA;
  color: #1f1625;
}
.question_page{
  padding: 40px 40px 0 40px !important;
}
.question_page_title{
  font-weight: bold;
}
.question_page_top{
  text-align: center;
}

.video-js .vjs-captions {
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
}

.helpModal{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;  
}
.helpModal button{
  width: 100%;
}

.form-demog ul, .form-demog ul li {
   /* list-style-type: none; */
   display: -ms-flexbox;           /* IE 10 */
   display: -webkit-flex;          /* Safari 6.1+. iOS 7.1+ */
   display: flex;
   -webkit-flex-flow: wrap column; /* Safari 6.1+ */
   flex-flow: wrap row;
}
.form-demog li{
    list-style: none;
}
.form-demog li label{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
}
#titleStyles{
    padding-bottom: 0 !important;
    padding-left: 1rem;
}
video{
  width: 100%;
}
hr {
  border: 1px solid gray;
  margin: 0 !important;
}
#ratingsForm{
  padding-left: 1rem;
}
#submitRating{
  max-width: 100%;
}

/* Cappy prediction display in a table format. */
.cappyHead{
  
  /* 
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7; */
  padding: 0.1rem 0.25rem 0.1rem 1.25rem !important;
  background-color: #FFFAFA;
  color: black;
  border-bottom: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.cappyHeadrow{
  justify-content: center;
  align-items: center;
  text-align: center;  
  height: 100%;
}
.cappySubhead{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
  font-size: 1.2rem;
}
.cappyText{
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.6;
  font-size: 1.2rem;
}
.satisfaction-scale{
  /* color: #fff; */
  /* background-color: #337ab7; */
  /* border-color: #337ab7; */
  border-color: rgba(0,0,0,.125);
  font-size: 1.1rem;
  padding: 0.5rem 2.25rem 0.5rem 2.25rem !important;
}
#inputHead {
  background-color: #fff;
  height: 1.5rem;
  margin-top: auto;

  border-radius: 0.25rem 0.25rem 0 0;
  border: 1px solid rgba(0,0,0,.125);
  border-bottom: 0;
}
.scale-text{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 1rem;
  padding: 0.25rem 0.25rem !important;
}


/* below is for starset */
.starset{
  font-size: 2rem;
  text-align: center;
}
.starset span{
  display:inline-block;
}
#inputstar1, #inputstar2, #inputstar3, #inputstar4{
    font-size: 1.6rem
}
.starset1, .starset2, .starset3, .starset4{
    padding-top: 0.3rem;
    font-size:1.9rem;
}
.checked {
  color: rgb(226, 207, 37);
}
/* end of star styling */


.noconsentpage{
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}
a {
  color: #1EAEDB !important;
}
.indexPageTitle{
  text-decoration: underline;
  font-weight:bolder;
  padding-top: 2rem;
  font-size: 2rem;
}



/* modal-dialog styling */
.carousel-inner{
  width:100%;
  max-height: 100%;
}
.modal-lg{
  max-width: 80%;
}


.rating_row{    
  border-bottom: 1px solid;
}

.agreebtn{
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.list-group-item {
  display:flex;
}

@media only screen and (max-width: 1024px) {

  div#inputstar1 div, div#inputstar2 div, div#inputstar3 div, div#inputstar4 div{
    font-size:1.5rem;
  }
  .starset1, .starset2, .starset3, .starset4 {
    font-size:1.5rem;
  }
  .btn, .scale-text, .satisfaction-scale{
    font-size:0.9rem;
  }
  
}
